body {
    width: 100%;
    height: 100%;
  }

  .hidden {
    visibility: hidden;
  }

  .btn-custom {
	  background: #3a9bcc;
	  color: white;
      padding: 10px 15px;
      border-radius: 10px;
      text-align: center;
	  float: right;

	  &:hover {
		  text-decoration: none;
		  color: white;
		  background: #348db9;
	  }
  }

  nav.navbar {
	  width: 100%;
	  height: 60px;
	  background: #252525;
	  position: relative;

      .navbar-brand {
          float: left;
      }

      .navbar-nav {

          li {

              a {

                  &:hover {
                      color: white;
                  }
              }
          }
      }
  }

  @media screen and (max-width: 991px) {
	.navbar {

		.navbar-nav:nth-of-type(2) {
			.nav-item:nth-of-type(1) {
				display: none;
			}
		}

	}

	.navbar-collapse {
		width: 100%;
		background: #2f2f2f;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		position: absolute;
		top: 60px;
		left: 0;
		z-index: 1000;

		.navbar-nav {
			width: 100%;

			.nav-item {
				height: 40px;

				.nav-link {
					text-align: center;
					display: block;

					&:hover {
						background: #353535;
					}
				}

			}

			&:last-of-type {
				.nav-item {
					margin: 0;
					padding: 0;

					.nav-link {
						background: #249424;
						color: white;

						&:hover {
							background: #1d7e1d;
						}
					}
				}
			}
		}
	}
}

  main {
      position: relative;

      .hero-banner {
          width: 100%;
          height: 500px;
		  background: #3a9bcc;
		  background-repeat: no-repeat;
		  background-position: center center;
          background-size: cover;
          display: flex;
          flex-direction: column;
          justify-content: center;
		  align-items: center;
		  font-family: 'Roboto', sans-serif;

          h1 {
              font-size: 3rem;
              font-weight: 700;
              color: white;
          }

          h2 {
              font-size: 1.5rem;
              font-weight: 300;
              color: white;
		  }

		  .search-bar,form {
			display: block;
			background: none;
			margin: 0 auto;
			padding: 0;

			input {
				background: white;
				border-radius: 25px;
				height: 60px;
				width: 300px;
				text-indent: 10px;
				color: white;
				font-size: 16px;
				font-weight: 300;
				color: #868686;
				border: none;

				&:focus {
					outline: none;
					color: black;
				}
			}

			button {
				display: none;
			}

			ul {
				position: relative;
				display: block;
				width: 300px;
				height: auto;
				z-index: 500;
				background: #eeeeee;
				border-radius: 5px;
				margin: 10px 0;

				li {
					.highlighted {
						color: rgb(190, 167, 32);
					}
				}
			}
		}
      }

      .row {
          width: 100%;

            .col {
                width: 300px;
                margin: 25px 10px;
            }

            .auth-card {
                margin-top: 50px;
                border-radius: 25px;
                box-shadow: 3px 3px 6px 3px #ececec;
                border: none;

                .card-header {
                    border: none;
                    background: none;
                    font-weight: bold;
                    font-size: 24px;
                }

                & > p {
                    text-align: center;
                    padding-top: 25px;
                }

                .card-body {

                    .form-group {
                        label {
                            font-weight: bold;
                        }

                        p {
                            text-align: left;
                            font-size: 12px;
                        }

                        .warning {
                            color: red;
                            font-size: 10px;
                            font-style: italic;
                        }
                    }
                }
            }
      }
  }

  @media screen and (max-width: 768px) {
	main {
		.hero-banner {
			h1 {
				font-size: 2.5rem;
			}

			h2 {
				font-size: 1.2rem;
			}
		}
	}
}

  @media screen and (max-width: 468px) {
      main {
          .hero-banner {
              h1 {
                  font-size: 2rem;
              }

              h2 {
                  font-size: 0.8rem;
              }
          }
      }
  }


  .clip-details {
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: space-between;
	  align-content: center;
	  margin: 25px 0;
  }
