body {
    width: 100%;
	height: 100%;
}

header {
	width: 100%;
	height: 70px;
	background-color: #3490dc;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	position: relative;

	.brand-logo {
		display: flex;
		width: 300px;
		height: inherit;

		a {
			align-self: center;

			img {
				width: 250px;
				padding-left: 15px;
			}
		}
	}

	.menu-toggler {
		display: none;

		button:focus {
			outline: none;
		}

		.hamburger .hamburger-inner,
		.hamburger .hamburger-inner:after,
		.hamburger .hamburger-inner:before,
		.hamburger.is-active .hamburger-inner,
		.hamburger.is-active .hamburger-inner:after,
		.hamburger.is-active .hamburger-inner:before {
			background-color: white;
		}
	}

	.main-menu {
		display: flex;
		width: calc(100% - 300px);
		height: inherit;
		justify-content: flex-end;
		align-items: center;

		& > a,div>a {
			display: block;
			padding: 25px 10px;
			text-decoration: none;
			color: #f1f5f8;

			&:hover {
				color: white;
			}
		}

		.dropdown {

			.sub-menu {
				display: none;
			}
		}

		.dropdown:hover,
		.dropdown.is-expanded {
			& > .sub-menu {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		.auth-menu > .sub-menu {
			right: 0;
		}

		.sub-menu {
			display: none;
			width: 200px;
			height: auto;
			position: absolute;
			z-index: 100;
			background-color: white;
			box-shadow: 3px 3px 6px 0px #3d4852;

			a {
				color: #aaaaaa;
				text-decoration: none;
				text-align: center;
				text-transform: uppercase;

				&:hover {
					color: black;
					background: #f9f9f9;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	header {
		width: 100%;
		height: 70px;
		background-color: #3490dc;

		.brand-logo {
			display: flex;
			width: calc(100% - 70px);
			height: inherit;

			a {
				align-self: center;

				img {
					width: 200px;
				}
			}
		}

		.menu-toggler {
			display: flex;
		}

		.main-menu {
			display: none;
			z-index: 100;
			background-color: #2872af;
			width: 100%;
			height: auto;
			flex-direction: column;
			justify-content: flex-start;

			& > a,& > div {
				display: block;
				width: 100%;
				text-align: center;
				text-decoration: none;
				color: #f1f5f8;

				&:hover {
					color: white;
					background: #2d7bbc;
				}
			}

			.dropdown:not(.is-expanded) {
				.sub-menu {
					display: none;
				}
			}

			.is-expanded {
				.sub-menu {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
			}

			.sub-menu {
				display: none;
				width: 100%;
				height: 264px;
				margin: 0 auto;
				position: relative;
				background-color: #262626;
				box-shadow: none;
				border-radius: 0;

				a {
					color: #aaaaaa;
					text-decoration: none;
					text-align: center;
					text-transform: uppercase;

					&:nth-of-type(even) {
						background-color: #2d2d2d;

						&:hover {
							color: white;
							background-color: #2d2d2d;
						}
					}
					&:nth-of-type(odd) {
						background-color: #262626;

						&:hover {
							color: white;
							background-color: #262626;
						}
					}

				}
			}
		}

		.main-menu[data-menu-status="expanded"] {
			display: flex;
		}
	}
}

  main {
      position: relative;

      .hero-banner {
          width: 100%;
          height: 500px;
		  background: #3490dc;
		  background-repeat: no-repeat;
		  background-position: center center;
          background-size: cover;
          display: flex;
          flex-direction: column;
          justify-content: center;
		  align-items: center;
		  font-family: 'Roboto', sans-serif;

          h1 {
              font-size: 3rem;
              font-weight: 700;
              color: white;
          }

          h2 {
              font-size: 1.5rem;
              font-weight: 300;
              color: white;
		  }

		  .search-bar,form {
			display: block;
			background: none;
			margin: 0 auto;
			padding: 0;

			input {
				background: white;
				border-radius: 25px;
				height: 60px;
				width: 300px;
				text-indent: 10px;
				color: white;
				font-size: 16px;
				font-weight: 300;
				color: #868686;
				border: none;

				&:focus {
					outline: none;
					color: black;
				}
			}

			button {
				display: none;
			}

			ul {
				position: absolute;
				display: block;
				width: 300px;
				height: auto;
				z-index: 500;
				background: #eeeeee;
				border-radius: 5px;
				margin: 10px 0;

				li {
					.highlighted {
						color: rgb(190, 167, 32);
					}
				}
			}
		}
      }

      .row {
		  width: 100%;
		  margin-left: 0;
		  margin-right: 0;

            .col {
                width: 300px;
				margin: 25px 10px;
				padding-left: 0;
				padding-right: 0;
            }

            .auth-card {
				margin-top: 50px;
                border-radius: 25px;
                box-shadow: 3px 3px 6px 3px #ececec;
                border: none;

                .card-header {
                    border: none;
                    background: none;
                    font-weight: bold;
                    font-size: 24px;
                }

                & > p {
                    text-align: center;
                    padding-top: 25px;
                }

                .card-body {

                    .form-group {
                        label {
                            font-weight: bold;
                        }

                        p {
                            text-align: left;
                            font-size: 12px;
                        }

                        .warning {
                            color: red;
                            font-size: 10px;
                            font-style: italic;
                        }
                    }
                }
            }
      }
  }

  @media screen and (max-width: 768px) {
	main {
		.hero-banner {
			h1 {
				font-size: 2.5rem;
			}

			h2 {
				font-size: 1.2rem;
			}
		}
	}
}

  @media screen and (max-width: 468px) {
      main {
          .hero-banner {
              h1 {
                  font-size: 2rem;
              }

              h2 {
                  font-size: 0.8rem;
              }
          }
      }
  }


  .clip-details {
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: space-between;
	  align-content: center;
	  margin: 25px 0;
  }

